/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  background-color: #F3F4F6;
  padding: 1rem;
}

:root {
  --accent-color: #1095C1;
  --negative-color: #EF4444;

  --foreground-color: #FFFFFF;
  --background-color: #EEEEEE;

  --container-border-radius: 12px;
  --container-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#root {
  display: flex;
  gap: 3rem;
}

.btn {
  cursor: pointer;
  font-weight: 600;
  border: none;
  border-radius: var(--container-border-radius);
  padding: 0.5rem 1rem;
}

.primary-button {
  background-color: var(--accent-color);
  color: white;
  transition: all 100ms ease-in-out;
}

.primary-button:hover {
  background-color: hsl(195, 80%, 50%);
}

.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & svg {
    height: 1rem;
    aspect-ratio: 1/1;
  }
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="month"],
textarea
{
  padding: 0.6rem 1rem;
}

input[type="color"]{
  cursor: pointer;
  padding: 0;
  border: 0;
}


/* Tabs */

nav {
  padding: 5px;
  background-color: var(--foreground-color);
  margin-bottom: 10px;
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-shadow);
}

.tabs-container {
  padding-left: 0px;
  list-style: none;
  display: flex;
  gap: 5px;
}

.tabs-container li {
  flex: 1;
}

.tab {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: var(--container-border-radius);
  padding: 0.5rem 1rem;
  font-weight: 600;
  width: 100%;
}

.tab.selected,
.btn.selected {
  background-color: var(--accent-color);
}

.tab:not(.selected):hover {
  background-color: var(--background-color);
}

.editor-form {
  padding: 1rem;

  & form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & label {
    display: flex;
    flex-direction: column;
  }
}

.editor-buttons-container {
  display: flex;
  justify-content: end;
}

.buttons-container {
  display: flex;
  width: fit-content;

  background-color: var(--foreground-color);
  padding: 5px;
  border-radius: var(--container-border-radius);
  
  gap: 5px;
}

button.clear {
  background: var(--negative-color);
  color: white;
  font-weight: 600;
}

/* Picture profile */
#picture-form {
  & img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: var(--container-shadow);
  }
}

.editor-image-container {
  position: relative;
}

.editor-image-container .remove-pic {
  position: absolute;
  top: 80%;
  left: 180px;
  border-radius: 100%;
  aspect-ratio: 1/1;

  % svg {
    height: 100px;
  }
}

/* General tab */
.editor-container {
  margin-bottom: 10px;
}

.editor-form {
  background-color: white;
  border-radius: var(--container-border-radius);
  box-shadow: var(--container-shadow);
  min-height: 600px;
}

/* Information tab */
#information-form ul {
  padding: 0;
  list-style: none;
}

.accordion {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.accordion-toggle {
  cursor: pointer;
  width: 100%;
  position: relative;
  border: none;
  background-color: transparent;
  text-align: left;
  transition: all 100ms ease-in-out;
}

.accordion-toggle.open {
  color: #1095C1;
}

.accordion-toggle::after {
  content: ">";
  position: absolute;
  display: inline-block;
  margin-left: auto;
  transition: transform  200ms ease-in-out;
  right: 10px;
}

.accordion-toggle.open::after {
  transform: rotate(90deg);
}

.accordion li {
  padding-bottom: 0.5rem;
}

.list-info-button-container{
  display: flex;
  gap: 5px;
}

.add-info-button {
  width: 100%;
  margin-top: 1rem;
  
}

.data-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between  ;
}

.ongoing-label {
  display: block !important;
}

.date-row {
  display: flex;
  width: fit-content;
  gap: 1rem;
}

.date-row label {
  flex: 1;
  max-width: 100px;
}

.info-form-description {
  resize: vertical;
}

/* Style */
#style-form section {
  padding-bottom: 1.5rem;
}

#style-form button {
  margin-right: 5px;
}

.font-btn {
  display: flex;
  flex-direction: column;
}

.font-btn[data-font="serif"]{
  font-family: serif;
  font-size: 1rem;
}

.font-btn[data-font="sans"]{
  font-family: sans-serif;
  font-size: 1rem;
}

.font-btn[data-font="mono"]{
  font-family: monospace;
  font-size: 1rem;
}

/* Preview */
.preview-container {
  max-width: 30cm;
  background-color: white;

  & .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  & header {
    font-size: 30px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 1rem;
    
    & div {
      align-self: flex-end;
      margin-right: 5%;
    }
  }
  
  & img {
    border-radius: 100%;
    border: 5px solid white;
    width: 230px;
    height: 230px;
    object-fit: cover;
  }

  & .contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;

    & p {
      display: flex;
      gap: 1rem;
      align-items: center;

      & svg {
        width: 2rem;
        height: 2rem;
      }
    }  
  }

  & .info-section {
    margin-bottom: 2rem;

    & .section-title {
      padding: 0.3rem 1rem;
      width: fit-content;
      border-radius: 20px;
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }

    & ul {
      list-style: none;
    }

    & .info-unit {
      margin-bottom: 0.8rem;

      & h4 {
        font-size: 1.4rem;
      }
    
      & h5 {
        font-size: 1rem;
      }
    }
  }

}