/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

body {
  background-color: #F3F4F6;
  padding: 1rem;
}

#root {
  display: flex;
  gap: 3rem;
  justify-content: space-around;
}

/* Tabs */

.tabs-container {
  padding-left: 0px;
  list-style: none;
  display: flex;
}

.tabs-container li {
  flex: 1;
}

.tab {
  cursor: pointer;
  background-color: #EEEEEE;
  border: 1px solid #ddd;
  padding: 0.5rem 1rem;
}

.tab.selected {
  background-color: white;
  border-bottom-color: white;
}

.editor-form {
  padding: 1rem;

  & form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & label {
    display: flex;
    flex-direction: column;
  }
}

/* Picture profile */
#picture-form {
  & img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.editor-image-container {
  position: relative;
}

.editor-image-container .remove-pic {
  position: absolute;
  top: 80%;
  left: 150px;
}

/* General tab */
.editor-container {
  margin-bottom: 10px;
}

.editor-form {
  background-color: white;
  border: 1px solid #ddd;
  border-top-color: white;
  min-height: 600px;
}

/* Information tab */
#information-form ul {
  padding: 0;
  list-style: none;
}

.accordion {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.accordion-toggle {
  cursor: pointer;
  width: 100%;
  position: relative;
  border: none;
  background-color: transparent;
  text-align: left;
  transition: all 100ms ease-in-out;
}

.accordion-toggle.open {
  color: #1095C1;
}

.accordion-toggle::after {
  content: ">";
  position: absolute;
  display: inline-block;
  margin-left: auto;
  transition: transform  200ms ease-in-out;
  right: 10px;
}

.accordion-toggle.open::after {
  transform: rotate(90deg);
}

.data-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between  ;
}